
body {
  text-align: center;
  font-family: roboto;
  background-color: #16121d;
}

#body > h1, #calculatorArea > *{
  color: #eaf6ec;
}



#calculatorArea {
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border-radius: 5%;

  background-color: rgb(22, 21, 26); 
}

#calculatorArea > * {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#textArea {
  margin-top: 30px;
  margin-bottom: 30px;
}

#result {
  width: 100%;
  border-radius: 5%;
  font-size: 3rem;
  background-color: #eaf6ec;
  height: 1.5em;
}

#save {
  float: right;
  width: 4em;
  border-radius: 15%;
  background-color: gray;
  border-color: rgb(83, 160, 242);
  color: white;
}

#button {
  background-color: rgba(74, 150, 231, 0.927);
  box-shadow: 2px 5px 5px #292d31;
  inline-size: 3em;
  block-size: 3em;
  border-radius: 100%;
  font-size: 1.5rem;
}

#itensList {
  width: 250px;
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
}

#listRow {
  border: 2pt solid rgba(74, 150, 231, 0.927);
  padding-top: auto;
}

#listCell {
  font-size: 1.5rem;
  color: #eaf6ec;
}

#setButton,
#deleteButton, #deleteAll {
  margin-bottom: auto;
  block-size: 1.5em;
  color: #eaf6ec;
  width: 1.5em;
  border-radius: 2%;
}

#setButton {
  background-color: rgba(10, 126, 249, 0.927);
  border-color: rgb(83, 160, 242);
}

#deleteButton, #deleteAll {
  background-color: rgba(238, 31, 31, 0.927);
  border-color: rgb(242, 83, 83);
}

#deleteAll{
    width: 10em;
    margin-bottom: 10px;
}
